azul= #22bce0
naranja= #dd4f24
gris_oscuro = #444

body
   background #e8e8e8
   color gris_oscuro
   color red
   font-family arial 
   font-size 16px

header 
    background gris_oscuro
    color white 
    padding 0.5em

    .logo 
        border-right 1px solid azul
        width 60px

        img
           width 52px
    .titular
        margin 0 80px 0 70px 
        
        .filtro 
            color azul
            font-size 14px
            font-style italic 
            font-weight bold
            text-decoration none

        .publicar
            background naranja
            color #fff
            float right
            font-style italic
            padding 0.2em 0.5em
            text-decoration none
            text-shadow 1px 1px 0px black

        .titulo
            font-size 18px 
            font-weight normal 
            margin 0


    .usuario
        .avatar
            img
                width 50px
                border-radius 50%

nav
    background azul 
.left 
    float left

.right
    float right